<script src="~/js/MapInit.js"></script>
<script type="module">
    Game = @Json.Serialize(Model.Game);
    import { mapObject } from "/js/Map.js";
    mapObject.DrawBoard();
</script>
<div class="is-flex-row">
    <div class="is-flex-down" style="opacity:0.5; flex-shrink:0; justify-content: flex-start; align-items:flex-start; width:120px;">
        <h1>@Model.MyAccount.Username</h1>
        <p>points:</p>
        <p>idk stats</p>
        <p>more stats</p>
    </div> 

    <div id="Map" style="cursor:default!important">
    </div>

    <div class="is-flex-down" style="flex-shrink:0; justify-content: flex-start; align-items:flex-end; width:120px;">
        @foreach (var player in Model.Game.Players)
        {
            if (player.Name == Model.MyAccount.Username) continue;
            <div class="padding" style="@(Model.Game.IsPlaying(player) ? "":"opacity:0.5;")border:1px solid black; flex-shrink:0; width: 80%; margin-bottom:1rem;">
                <h2>@player.Name</h2>
                <p>money:</p>
                <p>stats</p>
            </div>
        }
    </div>
</div>