@using RTOG.App.Models.Modals;
@model UnitsSelectModalModel

<h2>Select units</h2>
<div style="width:90%;height:80%;border:1px solid black; padding:1rem;">
    @foreach(var unit in Model.Units)
    {
        <div class="is-flex-row" style="padding:4px;border:1px solid black; justify-content:space-between;align-items:center;margin:2px;">
            <div>
                <p>@unit.Type</p>
                <p>(@if (unit.Upgrades != null)
                    foreach(var upgrade in unit.Upgrades)
                    {
                        <span>@upgrade.Name</span>
                    })
                </p>
            </div>
            <input type="checkbox" onchange="selectUnit(event, @unit.ID)">
        </div>
    }
</div>
<div class="is-flex-row" style="justify-content:space-around; align-items:center; margin-top:18px">
    <a href="#" rel="modal:close" onclick="confirm()">Confirm</a>
    <a href="#" rel="modal:close">Cancel</a>
</div>

<script>
    var units = [];
    function selectUnit(event, unitID){ //does both select and deselect
        if(event.target.checked){
            units.push(unitID);
        }
        else {
            let index = units.indexOf(unitID);
            if (index > -1)
                units.splice(index, 1);
        }
    }
    function confirm() {
        window.mapObject.DrawBoard(@Model.tileID);
        $('#unitsSelectModal').trigger('modalClose', units);
    }
</script>