@model GameViewModel
@{
    ViewData["title"] = "Ongoing game";
}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    var Game = @Json.Serialize(Model.Game);
    var MyAccount = @Json.Serialize(Model.MyAccount);
</script>
<script type="module" src="~/js/Map.js" defer></script>
<script type="module" src="~/js/menu.js" defer></script>
<script src="/lib/bootstrap-menu/BootstrapMenu.min.js"></script>

<!-- Link BootstrapMenu CSS stylesheet -->
<link rel="stylesheet" href="/css/dropdown.css">

<div class="is-flex-row">
    <div class="is-flex-down" style="justify-content: flex-start; align-items:flex-start; width:150px;">
        <h1>@Model.MyAccount.Username</h1>
        <p>points:</p>
        <p>idk stats</p>
        <p>more stats</p>
    </div> 

    <div id="Map">
    </div>

    <div class="is-flex-down" style="justify-content: flex-start; align-items:flex-end; width:150px;">
        @foreach(var player in Model.Game.Players)
        {
            if (player.Name == Model.MyAccount.Username) continue;
            <h2>@player.Name</h2>            
        }
        <h2>opponent1</h2>
        <h2>opponent2</h2>
        <h2>opponent3</h2>
    </div>
</div>