@model GameViewModel
@{
    ViewData["title"] = "Ongoing game";
}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    var Map = @Json.Serialize(Model.Game.Map);
</script>
<script type="module" src="~/js/Map.js" defer></script>

    <div id="Map">
    </div>
<button id='my-button'>Click me</button>