@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div style="display:flex;flex-direction:column;height:inherit;
            justify-content:center;align-items:center">
    <div class="card trans-white-bg is-flex-down" style="width:20%; max-width:20em;">
        <input id="usernameInput" type="text" placeholder="Your name" class="big-font" />
        <button class="btn-green big-font" onclick="tryLogin()">GUEST LOGIN</button>
    </div>
</div>

<input id="CreateGuestUrl" hidden value="@Url.Action("CreateGuest","Login")"/>
<input id="HomeUrl" hidden value="@Url.Action("Home","Home")"/>

<script>
    function tryLogin(){
        let username = $('#usernameInput').val()
        let requestData = {
            guestUsername: username
        };
        startLoading();
        $.ajax({
            url: $('#CreateGuestUrl').val(),
            type: 'POST',
            data: requestData,
            success: function(response){
                window.location.href = $('#HomeUrl').val() +"/"+ response.id;
                stopLoading();
            }
        })
    }
</script>