@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="card trans-white-bg is-flex-down">
    <input id="usernameInput" type="text" placeholder="Your name" class="big-font" />
    <button class="btn-green big-font" onclick="tryLogin()">GUEST LOGIN</button>
</div>

<input id="CreateGuestUrl" hidden value="@Url.Action("CreateGuest","Login")"/>
<input id="HomeUrl" hidden value="@Url.Action("Home","Home")"/>

<script>
    function tryLogin(){
        let username = $('#usernameInput').val()
        let requestData = {
            guestUsername: username
        };
        $.ajax({
            url: $('#CreateGuestUrl').val(),
            type: 'POST',
            data: requestData,
            success: function(response){
                window.location.href = $('#HomeUrl').val() +"/"+ response.id;
            }
        })
    }
</script>