@{
    ViewData["Title"] = "Login";
}

<div class="card trans-white-bg is-flex-down">
    <input type="text" placeholder="Your name" class="big-font" />
    <p style="opacity:0.5; text-align:center; margin:0.1em;">------</p>
    <input type="number" placeholder="Lobby Code" class="big-font"/>
    <button class="btn-green big-font">JOIN</button>
    <p style="opacity:0.5; text-align:center; margin:0.1em;">--OR--</p>
    <a class="btn-green big-font" href="@Url.Action("Lobby", "Home")">CREATE NEW LOBBY</a>
</div>

<script>
    function createLobby(){
        @Url.Action("Lobby","Home");
    }
</script>